// Astound Main Colors

$colors: (
  body: #f6f6f6,
  dark: #282828,
  grey: #7d7f85,
  clear: #ababab,
  magent: #ce2c52,
  blueShadow: #2c303d,
  blue: #2c87ce,
  select-1: #77d8e7,
  select-2:  #96c795,
  select-3: #ce92a1,
  select-4: #aa93cf,
  button: #8ae6cf,
);
